
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    background: rgb(93, 96, 97);
    height: 50px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    /* border-bottom: 1px solid black; */
    /* border-bottom: 3px dashed black; */
}



nav ul li{
    float  : left; 
    list-style: none;
    margin: 10px;
    line-height: 30px;
    
}
ul li{
    float  : left; 
    list-style: none;
    margin: 10px;
    line-height: 30px;
    
}



aside{
    float: left;
    width: 20%;
    background: rgb(245, 245, 245);
    min-height: 500px;
    padding: 10px;
    border-left: 1px solid gray;
}

footer{
    background: rgb(62, 60, 60);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


.clear-fix{
    clear: both;
    
}

.main-menu {
    background: rgba(84, 84, 84, 0.77);
    height: 50px;
    color: white;
    border: 1px solid rgba(84, 84, 84, 0.77);
}

.sub-menu {
    background-color: brown;
    color: white;
}


.menu-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu-link:hover{
    color: rgb(229, 255, 0);
    text-decoration: none;
}

.sub-menu-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.sub-menu-link:hover{
    color: rgb(48, 237, 247);
    text-decoration: none;
}


#main-container{
    /* width: 99%; */
    margin: 0px auto;
    /* border: 1px solid rgb(0, 0, 0); */
}

#main-content{
    float: left;
    width: 100%;
    background: rgb(245, 245, 245);
    min-height: 500px;
    padding: 1px;

}




.article{

}